.hero-one {
    background: url('../images/first-hero.jpg') no-repeat fixed black center bottom;
    background-size: cover;
    color: white;
    padding: 300px 0 80px 0
}

.hero-one-content p {
    font-size: 15px;
    color: #BBCFE7;
    line-height: 33px;
}

.hero-one-play {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.hero-one-play a {
    padding: 23px;
    border-radius: 50%;
    background-color: white;
}

.hero-one-play a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-two {
    background: url('../images/hero-contact.jpg') no-repeat black center center;
    background-size: cover;
    padding: 200px 0;
    color: white;
}

.hero-two-content-title {
    font-size: 48px;
}