.jumbo {
    padding-top: 150px;
    background: url("../images/jumbo-bg.jpg") no-repeat black center bottom;
    color: white;
}

.slideshow-item {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 18px;
    border-radius: 8px;
}

.slick-slide {
    margin: 0 8px 0 8px;
}

.slideshow-item:hover {
    background-color: white;
    color: #031933;
}
 
.slideshow-item:hover p {
    color: #69809A
}

.slideshow-item:hover svg path {
    fill: #EC2027
} 

.slick-arrow {
    position: absolute;
    top: 50%;
    height: 46px;
    width: 46px;
    border-radius: 46px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-arrow:hover {
    background-color: green;
    cursor: pointer;
}

.slick-prev {
    left: -60px
}

.slick-next {
    right: -60px
}

.jumbo-content {
    margin-bottom: 100px;
}

.jumbo-content h1 span {
    position: relative;
}

.jumbo-content h1 span::after {
    content: ' ';
    width: auto;
    background-color: red;
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    border-radius: 6px;
}

.jumbo-content a {
    display: inline-block;
    color: #EC2027;
    padding: 24px 36px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.jumbo-content a:hover {
    background-color: #EC2027;
    color: white
}